/Unit2-ParthVerma/nbproject/private/
/Unit2-ParthVerma/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/Unit2/build/
/Unit2/dist/
/Unit2/nbproject/private/
/Unit3/nbproject/private/
/Unit3/build/
/Unit3/dist/
/Unit4/nbproject/private/
/Unit4/build/
/MidTerm/nbproject/private/
/MidTerm/build/
/Unit6/nbproject/private/
/Unit6/build/
/Unit6_1/nbproject/private/
/Unit6_1/build/
/Unit6-test/nbproject/private/
/Unit6-test/build/
/Unit6test2/nbproject/private/
/Unit6test2/build/
/Unit6-1/nbproject/private/
/Unit6-1/build/
/Unit7/nbproject/private/
/Unit7/build/
/Unit7_1/nbproject/private/
/Unit7_1/build/
/Unit7_1/dist/
/Unit8/nbproject/private/
/Unit8/build/
